#collection-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 1rem;
}

.collection-grid {
   display: flex;
   width: 100%;
   gap: 2rem;
   flex-wrap: wrap;
   justify-content: center;
}

.text-red {
   color: rgb(231, 101, 50);
}